<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="aboutLabel">About</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger">
                    <h4>Warning</h4>
                    <p>VolUtility is designed to read and write files to the host environment. It is also capable of running commands with clever use of the vol cmd line option</p>
                    <p>Avoid unauthenticated access to the web interface.</p>
                </div>

                    <h4>Third Party Compoents</h4>
                    <p>The following third party software and libraries are used in VolUtility</p>
                    <div class="list-group">
                        <a href="http://www.python.org/" class="list-group-item">Python</a>
                        <a href="https://www.djangoproject.com/" class="list-group-item">Django</a>
                        <a href="https://github.com/volatilityfoundation/volatility" class="list-group-item">Volatility</a>
                        <a href="https://jquery.com/" class="list-group-item">JQuery</a>
                        <a href="htpps://datatables.net" class="list-group-item">DataTables</a>
                        <a href="http://getbootstrap.com/" class="list-group-item">BootStrap</a>
                        <a href="https://bootswatch.com/slate/" class="list-group-item">BootSwatch Themes</a>
                        <a href="http://plusvic.github.io/yara/" class="list-group-item">Yara</a>
                        <a href="https://www.virustotal.com/" class="list-group-item">Virus Total</a>
                    </div>

                    <h4>Special Thanks</h4>
                    <p>A Special Thank you to the following people and resources</p>
                    <div class="list-group">
                        <a href="http://www.volatilityfoundation.org/" class="list-group-item">The Volatility Foundation</a>
                        <a href="https://twitter.com/sibertor" class="list-group-item">Alissa Torres for teaching me Memory. Via SANS FOR526</a>
                        <a href="https://github.com/JamesHabben/evolve" class="list-group-item">James Habben's Original Evolve Concept.</a>
                        <a href="http://dsocon.blogspot.co.uk/2012/08/using-volatility-framework-as-library.html" class="list-group-item">Using Volatility as a Library</a>
                        <a href="https://stackoverflow.com" class="list-group-item">Stack overflow for teaching me ajax!</a>
                    </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>