{% load template_dict %}
<div class="modal fade" id="memoryModal" tabindex="-1" role="dialog" aria-labelledby="memoryModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="memoryModal">View Raw Memory</h4>
            </div>
            <div class="modal-body">

            <form class="form-inline">
              <div class="form-group">
                <input type="text" class="form-control" id="start_offset" placeholder="Starting Offset">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="end_offset" placeholder="Ending Offset">
              </div>
                <a href="#" onclick="ajaxHandler('memhex', {'session_id':'{{session_details|get:"_id"}}', 'target_div':'hex-out'}, false )" class="btn" role="button">View In Hex</a>
                <a href="#" onclick="ajaxHandler('memhexdump', {'session_id':'{{session_details|get:"_id"}}', 'target_div':'hex-out'}, false )" class="btn" role="button">Save Raw File</a>

            </form>
                </br>

                <div class="well">
                    <div id="hex-out" class="text-center"></div>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>